@page {
  size: A4 portrait;
  margin: 0.5cm;
}

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .no-print,
  nav,
  .Avatar,
  .MenuButton,
  .LangButton {
    display: none !important;
  }

  .HomePage__experiences__title {
    margin-bottom: 1cm !important;
  }

  .ExperienceCard {
    // page-break-inside: avoid;
    // break-inside: avoid;
    margin-bottom: 1cm !important;
  }

  .page-break {
    page-break-after: always;
  }

  body {
    font-size: 12pt !important;
    line-height: 1.4 !important;
  }
}
