.Avatar {
  box-sizing: border-box;
  border-radius: 50%;
  max-width: 18rem;
  border: 2px solid $c-highlight-1;

  &.scrolled--true {
    position: absolute;
    max-width: 6rem;
    top: 1.2rem;
    left: $s-pad;
    transition: all 0.3s ease;
    animation: slideAndShrink 0.3s ease forwards;

    @media (min-width: $bp-s2) {
      top: 0.6rem;
      max-width: 7rem;
    }

    @media (min-width: $bp-s3) {
      top: 2rem;
      max-width: 10rem;
    }

    @media (min-width: $bp-m1) {
      top: 2rem;
      max-width: 12rem;
    }
  }

  @keyframes slideAndShrink {
    0% {
      position: absolute;
      top: calc(50% - 4rem);
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
