.HomePage {
  padding: $s-pad;

  .HomePage__intro {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(95vh - $s-header);
    max-width: $bp-s2;
    margin: 0 auto;
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;

    @media (min-width: $bp-s2) {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.8;
    }

    @media (min-width: $bp-m1) {
      max-width: $bp-s3;
    }

    @media (min-width: $bp-m2) {
      max-width: $bp-m1;
      font-size: 1.4rem;
    }
  }
}
